// STM32 Build Files
client_arm/ClientFirmware/.mxproject
client_arm/ClientFirmware/.settings/
client_arm/ClientFirmware/Debug/
client_arm/ClientFirmware/Release/
client_arm/ClientFirmware/ClientFirmware Debug.launch